#container {
  width: 580px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

.coche {
  margin: 10px;
  height: 80px;
  width: 160px;
}

body {
  background-color: #4a4a49 !important;
}

.zona {
  height: 20rem;
  width: 38rem;
  border-width: 2px;
  border-style: solid;
  border-color: yellow;
}

.plataforma {
  background-color: lightgray;
  margin: 10px;
  height: 100px;
  width: 200px;
}