<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center my-5">
        <div class="col-3 d-flex justify-content-end">
            <img src="../../../assets/taller.jpg" alt="tallercito" class="pancarta">
        </div>
        <div class="col-3">
            <div class="row text-white">
                <div class="col-6">
                    <h1>DeivisGarage</h1>
                </div>
                <div class="col-6 mb-3">
                    <img src="../../../assets/herramientas.png" alt="logo" class="logo">
                </div>
                <div class="col mt-1">
                    <p>El software de gestión de talleres mecánicos que te brindará una interfaz
                        minimalista y simple para hacer tu trabajo más eficiente.
                    </p>
                </div>
            </div>
            <h1 class="text-white">Iniciar sesión</h1>
            <form method="post" class="bg-transparent" [formGroup]="regForm">
                <div class="row mb-1">
                    <div class="col">
                        <div class="form-group">
                            <input formControlName="email" type="text" name="email" class="form-control" placeholder="Email *" value="" />
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col">
                        <div class="form-group">
                            <input formControlName="password" type="password" name="pass" class="form-control" placeholder="Contraseña *"
                                value="" />
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-6 d-flex justify-content-end">
                        <input (click)="singIn()" type="submit" name="iniciar" class="btn btn-warning rounded-pill" value="Iniciar sesión"
                            id="inicioSesion" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>