<div class="container my-4">
    <h1 class="text-center text-white pb-3">
        Mis reparaciones
    </h1>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-3">
                <div *ngIf="listaFacturas.length == 0" class="nada">
                    <h2 class="text-white">¡No has reparado todavía ningún coche!</h2>
                </div>
            </div>
            <div *ngFor="let coche of listaFacturas" class="col-12 d-flex justify-content-center">
                <div class="card text-white" style="width:500px; background-color: rgba(219, 219, 219, 0.5);">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <h1 class="card-title text-white">{{coche.marca}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h2 class="card-title text-white">{{coche.modelo}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end col-6 text-white">
                                Fecha de reparación: {{coche.fechaReparacion}}
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col">
                                <p class="card-text text-white">Averías: {{coche.descripcionAveria}}</p>
                            </div>
                            <div class="col">
                                <p class="card-text text-white">Coste: {{coche.costeReparacion}}€</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="d-flex justify-content-center col">
                                <a [routerLink]="['/factura', coche.id]" class="btn btn-warning rounded-pill">Ver
                                    factura</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>